<h1><%= @restaurant.name %></h1>
<dl class="restaurant-data">
  <dt>Creator:</dt>
  <dd><%= @restaurant.creator_username %></dd>
  <dt>Cuisine:</dt>
  <dd><%= @restaurant.cuisine %></dd>
  <dt>Address:</dt>
  <dd><%= @restaurant.address %> <%= @restaurant.city %> <%= @restaurant.state %> <%= @restaurant.zip %></dd>
</dl>

<% if @restaurant.editable_by? current_user %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>

<h2>Reviews</h2>
<%= render @restaurant.reviews %>

<h2>Add your review</h2>
<%= form_for [@restaurant, @review] do |f| %>
   <div>
     <%= f.label :rating %>
     <%= f.select :rating, ['Please choose one', 1,2,3,4,5]%>
   </div>
   <div>
     <%= f.label :body %>
     <%= f.text_area :body, rows:10, cols:80 %>
   </div>

   <div>
     <%= f.submit %>
   </div>


<% end %>